@charset "utf-8";

main {
    color: rgb(79, 79, 79);
}

.contact {
    background-color: var(--app-contact-hero-background);
    height: 500px;
}

.contact-info {
    
    width: 37%;
    font-size: 24px;
    font-weight: 200px;
}

.contact-form {
    display: flex;
    padding: 20px;
    width: 58%;
    background-color: #fff;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    border: 1px solid var(--app-contact-hero-background)
}

.contact-info p {
    font-size: 20px;
}

.contact_content {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.contact_bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 300px;
}

.column {
    float: left;
    flex: 1 0 auto;
    border-radius: 5px;
    
}

form p {
    line-height: 65px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90px;
}

.lable {
    width: 26%;
}

.inputs {
    width:70%;
}

input, textarea {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(192, 186, 186);
    padding-left: 5px; 
    font-size: 15px;
    line-height: 22px;
    font-family: "Nunito Sans","Open Sans", Arial,sans-serif;
}

textarea {
    height: 150px;
    resize: none;
}

input[type=button] {
    width: 150px;
    font-size: 16px;
    font-weight:bold;
}

.textarea {
    height: 200px;
}

.contact-bottom {
    height: 350px;
}

.contact_brand {
    height: 250px;
}

.brand {
    width: 175px;
    padding-right: 10px;
}

.HeadText {
    font-size: 22px;
    margin-bottom: 0.5rem;
    text-align: center;
    position: relative;
    top: 28px;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 0 30px;
}

h1 {
    position: relative;
    top: -20px;
    
}
.HeadBorder {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgb(221, 221, 221) 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(221, 221, 221) 60%);
    margin-bottom: 40px;
  }

@media screen and (max-width: 868px) {
    .contact-form {
        width: 100%;
    }
    .contact_brand {
        margin-top: 150px;
        height: 200px;
    }
    .brand {
        margin-bottom: 10px;
    }
    .HeadBorder {
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, rgb(221, 221, 221) 34%, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0) 66%, rgb(221, 221, 221) 66%);
        margin-bottom: 40px;
      }
}

@media screen and (max-width: 480px) {
    .contact-form {
        width: 100%;
    }
    .contact_brand {
        margin-top: 200px;
        height: 650px;
    }
    
}