@charset "utf-8";
body {
    background-color: #F8F8FF;
}

header {
    box-shadow: 5px 0 10px -5px rgb(186, 183, 183);
}

/* header begins */
.header-div {
    display: flex;
    height: 60px;
    vertical-align: middle;
}

.header-div h1 {
    font-size: 44px;
    padding-left: 10px;
    line-height: 60px;
    font-family: 'Fuggles', cursive;
    font-weight: 600;
}

.nav-div{
    width: 100%;
    display: flex;
    justify-content: end;
}

.user-icon{
    margin-left: 50px;
    float: right;
}

.user-icon i{
    color: black;
}

.header-icon {
    display: flex;
}

.header-div i {
    line-height: 60px;
    padding-right: 20px;
    padding-left: 10px;
}

.menu {
    display: none;
    margin-right: 10px;
    justify-content: space-between;
    justify-content: flex-end;
    position: relative;
    z-index: 10; /* Adjust as needed */
}

.navSpan {
    line-height: 60px;
    position: relative;
    top: 3px;
    padding: 10px;

}

.navSpan a {
    font-size: 18px;
    color: black;
}

a:hover {
    color:rgb(149, 143, 143);
    
}



.sub-menu {
    display: none;
    position: absolute;
    height: 120px;
    width: 120px;
    flex-wrap: wrap;
    top: 45px;
    right: 10px;
}

.sub-menu span {
    width: 100%;
    text-align:left;
    line-height: 50px;
    padding-left: 10px;
    color: black;
    background-color:#e9f2f9;
}

.sub-menu span:hover {
    background-color: #d4e6f4;
}

#menu-icon i {
    line-height: 60px;
}

#menu-icon:hover .sub-menu {
        display: flex;
}


@media screen and (max-width:768px) {
    .header-div span {
        display: none;
    }

    .menu span {
        display: block;
    }

    header .menu {
        display: flex;
    }
}
/* header ends */

/* footer begins */
footer {
    height: 60px;
    background-color: #e2e2e5;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer .container {
    display: flex;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}


.footer-nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 40px;
    padding: 5px;
}

.footer-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav i{
    color: black;
}

.footer-icon {
    height: 30px;
    width: 30px;
    background-color: #eaf1f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2px 5px;
}


.authors-div {
    width: 100%;
    justify-content: flex-end;
    align-items:end;
    text-align: right;
    display: flex;
    color: grey;
}

.authors-div span {
    line-height: 60px;
    margin-right: 20px;
    overflow: hidden;
}


/* footer ends */

/* modal */
.model {
    position: absolute;
    height: 300px;
    width: 350px;
    background-color: #fffefe;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 2px 0px 6px 2px #6c6b6b8b ;
}

.modal-container {
    position: absolute;
    top:0px;
    right: 0px;
    visibility: hidden;
    background-color: #c1c2c597;
    width: 100%;
    height: 100%;
}

.model_show {
    visibility:visible;
}

.modal-transform {
    top: calc(50% - 200px - 20px);
    right: calc(50% - 150px);
    transition: transform 1s;
    transform: translate(0, 15px);
}

#model-form p {
    text-align: center;
}
/* modal end */